<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.torddis">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Torddis"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ActEditarTutor"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ActEditarSupervisado"
            android:exported="false" />
        <activity
            android:name=".ActEntrenar"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActCuentaSupervisado"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActReportes"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActHistorial"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActMonitoreo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActObjetos"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActSupervisados"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Menu_opciones"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Registrar_tutor"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Iniciar_sesion"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>